<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-md rounded-lg overflow-hidden w-full max-w-screen-sm p-6" style="width: 800px; ">
    <div class="p-6 bg-gray-50">
      <h1 class="text-2xl font-bold mb-4">質問の作成</h1>
      <%= render 'form', question: @question %>
    </div>
  </div>
</div>
