<!-- app/views/static_pages/contact.html.erb -->
<div class="max-w-4xl mx-auto px-4 py-8 bg-white">
  <h1 class="text-3xl font-bold text-center mb-6">お問い合わせ</h1>

  <!-- Googleフォームの埋め込み -->
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdc-BFLfFP6VEGlLLvzLoeN6rThj4-9UvbNmMos212F-s5Mhg/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0" style="border:none;">読み込んでいます...</iframe>
</div>