<%= render 'shared/before_login_info' %>

<main class="flex flex-col items-center justify-center h-screen bg-white">
  <h1 class="text-6xl font-semibold mb-12">Let's have a quiz about working vehicles!</h1>
  <%= link_to 'Start', random_question_path, class: "bg-black text-white text-4xl px-10 py-6 rounded-lg" %>
</main>