<p><%= @user.name %>様</p>
<p>===============================================</p>

<p>working vehicleのご利用ありがとうございます。</p>
<p>メールアドレス変更のご依頼を受け付けました。</p>

<p>以下のリンクをクリックして、新しいメールアドレスの確認を完了してください。</p>
<p><%= link_to 'メールアドレスを確認する', @url %></p>

<p>===============================================</p>
<p>working vehicle</p>