<%= @user.name %>様
===============================================

working vehicleのご利用ありがとうございます。
パスワード再発行のご依頼を受け付けました。

こちらのリンクからパスワードの再発行の手続きをお願いいたします。
<%= @url %>

===============================================
<p>working vehicle</p>