<% unless logged_in? %>
  <div class="container mx-auto items-center justify-between py-4">
    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mt-4" role="alert">
      <div class="flex items-center">
        <svg class="h-6 w-6 mr-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
          <line x1="12" y1="9" x2="12" y2="13" />
          <line x1="12" y1="17" x2="12.01" y2="17" />
        </svg>
        <div>
          <p class="font-bold">新規登録、ログイン機能について</p>
          <p>新規登録をしてログインした後にプレイヤー作成をすると、プレイヤー毎の回答について記録をすることができます。</p>
          <p>また、ランキングへの参加が可能になりますので、ぜひ登録してみてください。</p>
        </div>
      </div>
    </div>
  </div>
<% end %>