<div class="container mx-auto px-4">
  <% flash.each do |message_type, message| %>
    <div class="<%= flash_background_color(message_type) %> px-4 py-3 rounded relative flash-message" role="alert" style="margin-bottom: 3px;" onclick="this.style.display='none';">
      <% unless message_type == 'errors' && message.is_a?(Array) %>
        <!-- ここで raw(message) を使用してメッセージを改行で表示 -->
        <strong class="block sm:inline">
          <%= raw(message.gsub("Play video after correct count", "").gsub("\n", "<br>")) %>
        </strong>
      <% end %>
      <% if message_type == 'errors' && message.is_a?(Array) %>
        <div class="mt-2">
          <% message.each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
